body {
  background-color: lightgrey;
  margin: 10px 5%;
}
body > div {
  width: 90%;
}
.parents,
.ind-info,
.children,
.members {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.parents ul,
.ind-info ul,
.children ul,
.members ul {
  margin: 0;
}
.parents > div,
.ind-info > div,
.children > div,
.members > div {
  flex: 1;
  min-width: 325px;
}
.no-info {
  color: red;
}
