//html, body{
//  width: 100%;
//}

body {
  background-color: lightgrey;
  margin: 10px 5%;

  > div {
    width: 90%;
  }
}

.parents, .ind-info, .children, .members {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  ul {
    margin: 0;
  }

  > div {
    flex: 1;
    min-width: 325px;
  }
}

.no-info {
  color: red;
}